<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger">
        Edit
      </ion-button>
    </ion-buttons>
    <ion-title>Text Only Buttons</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-button color="primary" (click)="presentActionSheet()">Launch action sheet</ion-button>
  <ion-button color="primary" (click)="presentModal()">Launch modal</ion-button>

  <ion-grid>
    <ion-row class="ion-justify-content-end ion-align-items-center" style="height: 40vh;">
      <ion-col size-lg="10" size-md="3">
        COLUMNA 1
      </ion-col>
      <ion-col size-lg="10" size-md="3" class="ion-hide-lg-down">
        COLUMNA 2
      </ion-col>
      <ion-col size-lg="10" size-md="3">
        COLUMNA 3
      </ion-col>
      <ion-col size-lg="10" size-md="3">
        COLUMNA 4
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-tabs class="ion-hide-lg-up">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
